.pagetitle{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.container {  
    background-color: white;
}

h1 {
    background-color: white;
}

.review-item {
    border-bottom: 2px solid #ccc;
    padding-bottom: 15px;
    width: 97%;
    margin-bottom: 15px;
}

.review-author {
    color: #990000;
    font-weight: bold;
}

#reviewsList {
    list-style-type: none;
    text-align: center;
}

.review-rating {
    color: gold;
    margin-top: 5px;
}

.rateText {
    margin-top: 5px;
}

.review-text {
    margin-top: 10px;
}

.review-item img {
    margin-top: 10px;
    width: 100%; 
    border-radius: 5px; 
}

.links {
    background-color: white;
    width:200px;
    height: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}